<!DOCTYPE html>
<html>
<head>
  <title>黑心富 Black Core Food</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= favicon_link_tag 'icon_.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper-out">
    <div class="container" id="main">
      <%= yield %>
    </div>

  <div id="footer">
    <div class="flip-img">
      <div class="img-front"></div>
      <div class="img-back"></div>
    </div>
    <div class="pudding-img"></div>
    <div class="c-img"></div>
    <div class="tree-img"></div>
  </div>
  </div>
</body>
</html>
