<p id="notice"><%= notice %></p>

<div class="header">
  <div id="logo"></div>
  <div class="title"></div>
  <div class="navbar">
    <div class="line-box">
      <button class="btn btn-default" type="submit" id="company-bt">企業 Company</button>
      <button class="btn btn-default" type="submit" id="product-bt">商品 Product</button>
      <button class="btn btn-default active" type="submit" id="news-bt">新聞 News</button>
    </div>
  </div>
</div>

<table class="table table-hover news-list">
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td style="vertical-align: middle; text-align: center;" ><%= image_tag news.nimg.prod_min_img %></td>
        <td style="vertical-align: middle;"><h4>
          <%= link_to news.title, news %>
        </h4></td>
        <td style="vertical-align: middle;"><%= news.postdate %></td>
        <td style="vertical-align: middle;"><%= news.from %></td>
      </tr>
    <% end %>
  </tbody>
</table>
